#page {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

#char-creator {
    display: flex;
}

.form-selectors button {
    color: black;
}

.forms > form {
    display: none;
}

.forms > form.show {
    display: block;
}
